<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>

<body>

	<section>
		
		<!--       ABOUT SECTION STARTS       -->			


		<div class="row p-5">
			<div class="col-sm-6 col-md-6 col-12 mt-5">
				<p class="fs-1 text-center text-success">OUR <span class="text-danger">MISSION</span></p>
				<hr class="w-25 text-center mx-auto mb-3">
				<p class="fs-6"> At <span class="fw-bold">AgriML Hub</span>, our mission is to revolutionize agriculture
					by combining technology and accessibility. We aim to help farmers quickly identify crop diseases
					through machine learning, provide tailored solutions, and offer high-quality farming resources to
					empower agricultural success.
				</p>
			</div>
			<div class="col-sm-6 col-md-6 col-12">
				<div class="d-flex justify-content-center">
					<img src="img/about-1.jpg" alt="Seeds" width="100%" height="300px" class="img-fluid img-thumbnail rounded">
				</div>
			</div>
		</div>
		<hr>
		
		
		<div class="row p-5">

			<div class="col-sm-6 col-md-6 col-12 mt-5">
				<p class="fs-1 text-center text-success">OUR <span class="text-danger">VISION</span></p>
				<hr class="w-25 text-center mx-auto mb-3">
				<p class="fs-6">
					We envision a future where every farmer has access to innovative tools and resources to grow
					healthier crops, reduce losses, and achieve sustainable farming. AgriML Hub is committed to bridging
					the gap between technology and agriculture to build a prosperous future for farmers worldwide.
				</p>
			</div>
			<div class="col-sm-6 col-md-6 col-12">
				<div class="d-flex justify-content-center">
					<img src="img/about-2.webp" alt="Seeds" width="100%" height="300px" class="img-fluid img-thumbnail rounded">
				</div>
			</div>

		</div>
		<hr>
		
		
		<div class="row p-5">
			<div class="col-sm-6 col-md-6 col-12 mt-5">
				<p class="fs-1 text-center text-success">WHO <span class="text-danger">WE ARE</span></p>
				<hr class="w-25 text-center mx-auto mb-3">
				<p class="fs-6">
					AgriML Hub is a one-stop solution for modern agriculture. We combine cutting-edge
					machine learning technology with a comprehensive marketplace offering farming equipment, seeds,
					fertilizers, and other essential resources. Whether you're a small-scale farmer or managing large
					farmlands, we are here to support your journey toward efficiency and growth.
				</p>
			</div>
			<div class="col-sm-6 col-md-6 col-12">
				<div class="d-flex justify-content-center">
					<img src="img/about-3.jpg" alt="Seeds" width="100%" height="300px" class="img-fluid img-thumbnail rounded">
				</div>
			</div>
		</div>
		<hr>
		
		
		<div class="row p-5">

			<div class="col-sm-6 col-md-6 col-12 mt-1">
				<p class="fs-1 text-center text-success">WHAT WE <span class="text-danger">DO</span></p>
				<hr class="w-25 text-center mx-auto mb-3">
				<p class="fs-6">
				<ul>
					<li><span class="fw-bold">Disease Detection:</span> Upload images of your crops to detect diseases
						using our ML-powered platform
						and receive expert solutions tailored to your needs.</li>
					<li><span class="fw-bold">Farming Resources Marketplace:</span> Browse and purchase a wide range of
						high-quality farming essentials, including:
						<ul>
							<li><span class="fw-bold">Seeds:</span> Certified seeds for all types of crops.</li>
							<li><span class="fw-bold">Fertilizers:</span> Eco-friendly and performance-boosting
								fertilizers.</li>
							<li><span class="fw-bold">Farming Equipment:</span> Tools and machinery for all farming
								operations.</li>
							<li><span class="fw-bold">Pesticides and Solutions:</span> Products to address crop health
								issues effectively.</li>
						</ul>
					</li>
					<li><span class="fw-bold">Expert Guidance:</span> Access resources and advice from agricultural
						experts.</li>
				</ul>
				</p>
			</div>
			<div class="col-sm-6 col-md-6 col-12">
				<div class="d-flex justify-content-center">
					<img src="img/about-4.jpg" alt="Seeds" width="100%" height="300px" class="img-fluid img-thumbnail rounded">
				</div>
			</div>
		</div>
		
		<!--       ABOUT SECTION ENDS       -->		

	</section>

</body>

</html>